{% extends 'main/layout.html' %}

{% block  title%}Главная старница{% endblock %}

{% block  content%}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at nulla id leo aliquam accumsan at et turpis. Praesent sagittis quam quis sem vehicula vulputate. Nam egestas ligula vel nulla gravida consequat. Quisque id ligula vitae elit rhoncus lacinia. Aliquam purus augue, gravida id rutrum quis, laoreet at ante. Praesent lobortis vestibulum dui at ullamcorper. Aliquam feugiat venenatis ullamcorper. Vivamus dignissim id dolor in tempor. Donec scelerisque, enim ut auctor feugiat, mauris velit ultrices mauris, vel ornare metus tortor sed justo.

Etiam laoreet erat quis lacus sagittis, in eleifend est eleifend.
        </p>
        <button class="btn btn-warning">Кнопка</button>
    </div>
{% endblock %}